body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body > section {
    width: 95%;
    display: flex;
    flex-direction: column;
}

::-webkit-scrollbar {
    width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: rgba(100,240,0,0.5);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(140,250,0,0.8);
}