header {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    background-image: url('../../resources/images/sd_wallpaper.jpg');
    margin-bottom: 8vh;
}

header > nav {
    width: 100%;
    height: 8vh;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: linear-gradient(rgba(0,0,0,0.7) 30%, transparent);
}

header > nav > a {
    width: 10%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(60, 180, 0);
    border-radius: 2vh;
    color: white;
    font-size: 1.1em;
    transition: 0.3s;
}

header > nav > a:hover {
    height: 65%;
    background-color: rgb(80, 220, 0);
    color: black;
    transition: 0.3s;
}

header > h1  {
    font-size: 5em;
    color: white;
    text-shadow: 0px 3px 7px black;
    justify-self: flex-end;
}